<nav class="bg-gray-900">
  <div class="relative m-auto mx-24 grid grid-cols-3 px-4 justify-center">
    <div class="text-left my-4">
      <img class="h-10" src="../../../assets/crypto-logos/ETH.png" />
    </div>
    <div class="my-4 flex text-center justify-center items-center">
      <a href="/home" routerLinkActive="bg-gray-700" [routerLink]="['/home']" [routerLinkActiveOptions]="{exact: true}"
        class="text-gray-200 mr-4 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
      <a href="/cryptos" routerLinkActive="bg-gray-600" [routerLink]="['/cryptos']"
        [routerLinkActiveOptions]="{exact: true}"
        class="text-gray-200 mr-4 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Crypto</a>
      <a href="/news" routerLinkActive="bg-gray-600" [routerLink]="['/news']" [routerLinkActiveOptions]="{exact: true}"
        class="text-gray-200 mr-4 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">News</a>
      <a href="/reports" routerLinkActive="bg-gray-600" [routerLink]="['/reports']"
        [routerLinkActiveOptions]="{exact: true}"
        class="text-gray-200 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Reports</a>
    </div>
    <div class="my-4 flex ml-auto cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-list"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 
          1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 
          1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </div>
  </div>
</nav>