<nav class="bg-gray-900">
  <div class="relative m-auto mx-4 md:mx-24">
    <div class="grid grid-cols-2 px-4 justify-center">
      <div class="my-4 flex items-center ml-10">
        <div class="bg-white w-11 rounded-full border border-black">
          <svg width="42" height="42" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.0514 4.32178L18.4656 5.73599L14.223 9.97863L18.4656 14.2213L17.0514 15.6355L11.3946 9.97863L17.0514 4.32178Z"
              fill="rgb(79 70 229)" />
            <path
              d="M6.94864 19.6785L5.53442 18.2643L9.77706 14.0216L5.53442 9.77897L6.94864 8.36476L12.6055 14.0216L6.94864 19.6785Z"
              fill="rgb(79 70 229)" />
          </svg>
        </div>
        <div class="hidden md:flex ml-8">
          <a href="/home" routerLinkActive="bg-gray-700" [routerLink]="['/home']"
            [routerLinkActiveOptions]="{exact: true}"
            class="text-gray-200 mr-4 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
          <a href="/cryptos" routerLinkActive="bg-gray-600" [routerLink]="['/cryptos']"
            [routerLinkActiveOptions]="{exact: true}"
            class="text-gray-200 mr-4 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Crypto</a>
          <a href="/news" routerLinkActive="bg-gray-600" [routerLink]="['/news']"
            [routerLinkActiveOptions]="{exact: true}"
            class="text-gray-200 mr-4 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">News</a>
          <a href="/reports" routerLinkActive="bg-gray-600" [routerLink]="['/reports']"
            [routerLinkActiveOptions]="{exact: true}"
            class="text-gray-200 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Reports</a>
        </div>
      </div>
      <!-- Mobile menu button -->
      <div class="md:hidden flex justify-end my-8">
        <button class="outline-none mn-button">
          <svg class="text-gray-400 hover:text-indigo-900" width="24" height="24" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M2 6C2 5.44772 2.44772 5 3 5H21C21.5523 5 22 5.44772 22 6C22 6.55228 21.5523 7 21 7H3C2.44772 7 2 6.55228 2 6Z"
              fill="currentColor" />
            <path d="M2 12.0322C2 11.4799 2.44772 11.0322 3 11.0322H21C21.5523 11.0322 22 11.4799 22 12.0322C22 12.5845 
              21.5523 13.0322 21 13.0322H3C2.44772 13.0322 2 12.5845 2 12.0322Z" fill="currentColor" />
            <path d="M3 17.0645C2.44772 17.0645 2 17.5122 2 18.0645C2 18.6167 2.44772 19.0645 3 19.0645H21C21.5523 19.0645 22 
              18.6167 22 18.0645C22 17.5122 21.5523 17.0645 21 17.0645H3Z" fill="currentColor" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- mobile menu -->
  <div class="hidden mobile-menu mt-4">
    <ul class="">
      <li class="active">
        <a href="/home" class="block text-sm text-gray-200 hover:bg-indigo-400 px-2 py-4">Home</a>
      </li>
      <li>
        <a href="/cryptos" class="block text-sm text-gray-200 hover:bg-indigo-400 px-2 py-4">Crypto</a>
      </li>
      <li>
        <a href="/news" class="block text-sm text-gray-200 hover:bg-indigo-400 px-2 py-4">News</a>
      </li>
      <li>
        <a href="/reports" class="block text-sm text-gray-200 hover:bg-indigo-400 px-2 py-4">Reports</a>
      </li>
    </ul>
  </div>
</nav>