<footer class="relative bg-gray-800 pb-6">
    <div class="flex border-b border-gray-700 items-center justify-center inline-block mx-32">
        <img class="h-10 my-4" src="../../../assets/crypto-logos/ETH.png" />
        <h1 class="ml-4 font-bold text-base text-white">CriptoKeeper</h1>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-4 py-10 text-center sm:mx-64">
        <div class="mt-4 lg:mt-0">
            <div class='hidden lg:block' aria-hidden='true'>
                <div class='mx-24'>
                    <div class='border-t border-gray-500'></div>
                </div>
            </div>
            <div class="text-gray-300 text-md">
                <h1 class="text-base font-bold mt-3 text-gray-300 flex items-center justify-center">Crypto</h1>
                <a href="privacy-policy" class="mt-4 flex items-center justify-center hover:text-gray-400">Privacy
                    and cookies policy</a>
                <a href="rules" class="mt-2 flex items-center justify-center hover:text-gray-400">Rules</a>
            </div>
        </div>
        <div class="mt-4 lg:mt-0">
            <div class='hidden lg:block' aria-hidden='true'>
                <div class='mx-24'>
                    <div class='border-t border-gray-500'></div>
                </div>
            </div>
            <div class="text-gray-300 text-md">
                <h1 class="text-base font-bold mt-3 text-gray-300 flex items-center justify-center">Company</h1>
                <a href="terms-of-use" class="mt-4 flex items-center justify-center hover:text-gray-400">Terms</a>
            </div>
        </div>
        <div class="mt-4 lg:mt-0">
            <div class='hidden lg:block' aria-hidden='true'>
                <div class='mx-24'>
                    <div class='border-t border-gray-500'></div>
                </div>
            </div>
            <div class="text-gray-300 text-md">
                <h1 class="text-base font-bold mt-3 text-gray-300 flex items-center justify-center">About Us</h1>
                <a href="" class="mt-4 flex items-center justify-center hover:text-gray-400">Teams</a>
            </div>
        </div>
        <div class="mt-4 lg:mt-0">
            <div class='hidden lg:block' aria-hidden='true'>
                <div class='mx-24'>
                    <div class='border-t border-gray-500'></div>
                </div>
            </div>
            <div class="text-gray-300 text-md">
                <h1 class="text-base font-bold mt-3 text-gray-300 flex items-center justify-center">Contact</h1>
                <p class="mt-4 flex items-center justify-center hover:text-gray-400">+ 01 234 567 89</p>
                <p class="mt-2 flex items-center justify-center hover:text-gray-400">info@example.com</p>
                <a href="" class="mt-2 flex items-center justify-center hover:text-gray-400">Office hours</a>
            </div>
        </div>
    </div>
</footer>