<footer>
    <div class="container mx-auto px-6 pb-14">
        <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-between">
            <div class="flex flex-col">
                <span class="font-bold text-gray-700 uppercase mb-2">Privacy Policy</span>
                <span class="my-2"><a href="privacy-policy" class="text-blue-700  text-md hover:text-blue-500">Privacy
                        and cookies policy</a></span>
            </div>
            <div class="flex flex-col">
                <span class="font-bold text-gray-700 uppercase mb-2">Terms Of Use</span>
                <span class="my-2"><a href="terms-of-use"
                        class="text-blue-700  text-md hover:text-blue-500">Terms</a></span>
            </div>
            <div class="flex flex-col">
                <span class="font-bold text-gray-700 uppercase mb-2">Community</span>
                <span class="my-2"><a href="rules" class="text-blue-700  text-md hover:text-blue-500">Rules</a></span>
            </div>
        </div>
    </div>
</footer>