<app-home-navbar></app-home-navbar>
<div class="relative mb-64 p-16 my-24">
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 items-center">
        <div class="ml-auto mr-52">
            <img class="h-96" src="../../../../assets/img/chat-group.png">
        </div>
        <div class="ml-4 mr-12">
            <h1 class="text-5xl font-extrabold text-gray-800">Sed at condimentum nisi. Donec elementum tincidunt dui.</h1>
            <p class="text-justify mt-12 text-gray-700">Suspendisse et orci id ipsum hendrerit consequat. Praesent suscipit ipsum et turpis feugiat, vel pretium
                mauris viverra. Etiam nisi ipsum, fermentum accumsan tincidunt ac, porttitor ut ante. Vivamus
                sollicitudin urna lorem, sed mollis turpis consequat sit amet. Nam tempus diam lacus, eget eleifend leo
                volutpat at.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>