<app-home-navbar></app-home-navbar>
<div class="relative mb-64 p-16">
    <div class="relative my-4 lg:my-36">
        <div class="text-center font-extrabold 2xl:mx-96">
            <span class="text-3xl xl:text-7xl">In luctus neque</span>
            <span class="text-3xl xl:text-7xl text-indigo-600"> sed tellus sollicitudin </span>
            <span class="text-3xl xl:text-7xl">aliquam</span>
            <p class="text-xl font-medium lg:mx-64 mt-12 text-gray-700">Suspendisse sit amet diam quis nibh gravida
                condimentum suscipit id felis.</p>
            <div class="flex flex-wrap justify-center mt-8">
                <button class="mr-2 items-center py-4 px-6 text-sm border border-indigo-700
                font-medium text-center text-white bg-indigo-600 rounded-lg hover:bg-indigo-500 shadow-2xl">Etiam
                    vitae</button>
                <button
                    class="mr-2 items-center py-4 px-6 text-sm border border-indigo-500
                font-medium text-center text-black bg-gray-200 rounded-lg hover:bg-gray-300 hover:border-2 shadow-2xl">Donec
                    dui</button>
            </div>
        </div>
    </div>
    <div class="border-b-2 mx-64 my-24"></div>
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 items-center">
        <div class="ml-auto sm:mr-52 bg-gray-50 py-2 px-8 rounded-lg shadow-md">
            <img class="sm:h-96 object-cover transform hover:scale-110 transition duration-500" src="../../../../assets/img/chat-group.png">
        </div>
        <div class="ml-4 mr-12">
            <h1 class="text-2xl lg:text-5xl font-extrabold">Sed at condimentum nisi. Donec elementum tincidunt dui.</h1>
            <p class="text-justify mt-12 text-gray-700">Suspendisse et orci id ipsum hendrerit consequat. Praesent
                suscipit ipsum et turpis feugiat, vel pretium
                mauris viverra. Etiam nisi ipsum, fermentum accumsan tincidunt ac, porttitor ut ante. Vivamus
                sollicitudin urna lorem, sed mollis turpis consequat sit amet. Nam tempus diam lacus, eget eleifend leo
                volutpat at.</p>
        </div>
    </div>
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 items-center mt-6">
        <div class="ml-4 xl:ml-12">
            <h1 class="text-2xl lg:text-5xl font-extrabold">Cras efficitur placerat magna.</h1>
            <p class="text-justify mt-12 text-gray-700">Cras consectetur eu diam lacinia pulvinar. Proin eu tincidunt
                risus. Donec malesuada eros nibh, vel tincidunt odio faucibus sed. Pellentesque habitant morbi tristique
                senectus et netus et malesuada fames ac turpis egestas. Integer lorem ligula, faucibus vitae dui eget,
                elementum lobortis neque.</p>
        </div>
        <div class="mr-auto sm:ml-52 bg-gray-50 py-2 px-8 rounded-lg shadow-md">
            <img class="sm:h-96 object-cover transform hover:scale-110 transition duration-500" src="../../../../assets/img/team-work.png">
        </div>
    </div>
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 items-center mt-6">
        <div class="ml-auto sm:mr-52 bg-gray-50 py-2 px-8 rounded-lg shadow-md">
            <img class="sm:h-96 object-cover transform hover:scale-110 transition duration-500" src="../../../../assets/img/business-idea.png">
        </div>
        <div class="ml-4 mr-12">
            <h1 class="text-2xl lg:text-5xl font-extrabold">Integer ornare augue neque, non ornare eros viverra nec.</h1>
            <p class="text-justify mt-12 text-gray-700">Pellentesque diam urna, egestas sed enim id, fringilla venenatis
                lacus. Aenean placerat dignissim molestie. Suspendisse condimentum eu lacus a mollis. Sed ac ultrices
                felis. Nunc viverra sed urna bibendum rhoncus. Ut purus quam, sodales a faucibus id, tempor quis metus.
                Nam rutrum nec felis quis egestas. Morbi molestie dictum risus in aliquet. Aliquam sed est enim.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>