<app-home-navbar></app-home-navbar>
<div class="relative min-h-screen mb-12">
    <div class="mt-36">
        <div class="flex flex-col flex-1 items-center w-full">
            <div class="mx-6 lg:mx-64 2xl:mx-152">
                <h1 class="text-2xl	font-bold text-gray-700 underline">Rules</h1>
                <p class="text-justify mt-12 text-gray-600 font-medium">Quisque condimentum consectetur gravida.
                    Maecenas ullamcorper, lectus id suscipit elementum, justo eros semper arcu, ac rhoncus dolor dolor
                    quis lorem. Phasellus gravida ipsum hendrerit, dignissim elit a, pretium velit. Sed tempus nunc id
                    nibh vehicula aliquam. Vestibulum cursus, erat nec posuere vestibulum, ante leo blandit massa, ac
                    aliquet mauris eros ac nisl. In condimentum, dui ut feugiat sollicitudin, ex turpis porttitor purus,
                    id accumsan neque nulla vel nisl. Duis libero diam, ultricies in risus et, sagittis malesuada velit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut malesuada sit amet libero sit amet
                    porttitor. Aenean volutpat sodales felis, ac pulvinar tortor. Interdum et malesuada fames ac ante
                    ipsum primis in faucibus. In nec metus diam. Quisque euismod justo arcu, ut mollis ipsum vulputate
                    id.</p>
                <p class="text-justify mt-6 text-gray-600 font-medium">Nullam sed magna at est fermentum commodo. Aenean
                    consectetur feugiat tellus. Cras scelerisque vulputate vehicula. Integer ut porttitor orci.
                    Phasellus non ultrices sem. Duis dui elit, feugiat at ornare eget, vulputate eu nisi. Aliquam
                    aliquam ligula non nulla finibus posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nunc pharetra finibus neque a porta.</p>
                <p class="text-justify mt-6 text-gray-600 font-medium">Praesent bibendum elit tortor. Nulla luctus erat
                    eu purus imperdiet, in aliquam mauris varius. Aenean id eros eu lectus tincidunt dapibus. Nulla
                    facilisi. Sed tempor mattis mauris sit amet egestas. Nulla aliquet justo lacus, non mattis nulla
                    eleifend id. Donec tristique pretium cursus. Aenean pellentesque condimentum orci, eleifend lacinia
                    mi accumsan non. Nullam ut pretium ligula. Donec purus tortor, cursus nec lacus sit amet, iaculis
                    tristique dui. Maecenas at laoreet nulla. Sed nec sem gravida, mattis felis in, consectetur nulla.
                </p>
                <p class="text-justify mt-6 text-gray-600 font-medium">Nunc sagittis velit et dui tempus faucibus. Proin
                    porttitor dignissim lacinia. Suspendisse ultrices nisi quis nunc condimentum tempor. Nam et dolor
                    augue. Nullam ullamcorper urna in odio iaculis interdum. Maecenas ornare pharetra nibh, sit amet
                    ullamcorper nulla efficitur lobortis. Morbi eu feugiat risus, id dignissim est. Pellentesque
                    faucibus egestas velit, nec tincidunt nisi ultrices ac. Mauris ut libero eu tellus suscipit
                    dignissim vitae eget justo. Morbi in odio lacinia, pretium justo in, ornare odio. Duis vel nisi
                    urna. Cras efficitur laoreet lobortis. Nullam augue quam, efficitur vel nisi at, tempus hendrerit
                    dolor. Donec vel lectus tincidunt, pellentesque purus ac, rutrum dolor. Etiam faucibus consectetur
                    gravida.</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>