<app-navbar></app-navbar>

<div
    class="max-w-2xl mx-auto py-24 px-4 grid items-center grid-cols-1 gap-y-16 gap-x-8 sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8 lg:grid-cols-2">
    <div>
        <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Uses of cryptocurrencies
        </h2>
        <p class="mt-4 text-gray-500">Sed cursus porta dui egestas ultricies. Proin tincidunt neque eget neque blandit
            scelerisque. Nunc id ligula egestas, posuere nisl quis, tempus quam. Phasellus est justo,
            placerat nec feugiat quis, ullamcorper non dui.</p>

        <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
            <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Maecenas</dt>
                <dd class="mt-2 text-sm text-gray-500"> Curabitur tincidunt ante sed odio dignissim luctus.</dd>
            </div>

            <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Consectetur</dt>
                <dd class="mt-2 text-sm text-gray-500">Cras convallis suscipit massa, vel volutpat mi molestie vel.</dd>
            </div>

            <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Praesent</dt>
                <dd class="mt-2 text-sm text-gray-500">Donec sollicitudin turpis vel enim semper porttitor.
                    Duis mi lacus, gravida id lectus ac, bibendum bibendum ligula.</dd>
            </div>

            <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Nulla</dt>
                <dd class="mt-2 text-sm text-gray-500">Etiam magna magna, gravida varius ligula vel, venenatis laoreet
                    nunc.</dd>
            </div>

            <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Proin</dt>
                <dd class="mt-2 text-sm text-gray-500">Curabitur malesuada at enim vitae convallis.</dd>
            </div>

            <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Phasellus</dt>
                <dd class="mt-2 text-sm text-gray-500">Donec tellus magna, sodales quis aliquet vitae, bibendum sit amet
                    purus.
                    Nam id libero dolor. Sed et tristique augue.</dd>
            </div>
        </dl>
    </div>
    <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
        <img src="../../../../assets/img/nft.png"
            alt="Walnut card tray with white powder coated steel divider and 3 punchout holes."
            class="bg-gray-100 rounded-lg">
        <img src="../../../../assets/img/cryptocurrency2.jpg"
            alt="Top down view of walnut card tray with embedded magnets and card groove."
            class="bg-gray-100 rounded-lg">
        <img src="../../../../assets/img/bored-monkey.png"
            alt="Side of walnut card tray with card groove and recessed card area." class="bg-gray-100 rounded-lg">
        <img src="../../../../assets/img/bitcoin2.jpg"
            alt="Walnut card tray filled with cards and card angled in dedicated groove."
            class="bg-gray-100 rounded-lg">
    </div>
</div>