<app-home-navbar></app-home-navbar>
<div class="relative min-h-screen mb-12">
    <div class="mt-36">
        <div class="flex flex-col flex-1 items-center w-full">
            <div class="mx-6 lg:mx-64 2xl:mx-152">
                <h1 class="text-2xl	font-bold text-gray-700 underline">Privacy and policy</h1>
                <p class="text-justify mt-12 text-gray-600 font-medium">Fusce at ligula eget lorem viverra sollicitudin
                    eget id diam. Nam quis faucibus leo,
                    et finibus velit. Quisque a aliquet mi, sit amet lobortis dui. Aenean tristique laoreet
                    porta. Etiam sed risus ac turpis imperdiet tristique eget a erat. Donec vitae feugiat
                    ante, at pellentesque sapien. Morbi in lacus ut nulla tempus feugiat. Ut mattis varius sodales.
                    Fusce sem nulla, molestie nec odio sit amet, mollis condimentum lacus. Nullam non mi vitae turpis
                    efficitur sollicitudin id ac ante. In gravida est tristique, tempus metus in, efficitur ante.
                    Phasellus luctus ligula ligula, in consequat est ultricies in.</p>
                <p class="text-justify mt-6 text-gray-600 font-medium">Curabitur eget massa odio. Mauris commodo purus 
                    a velit sollicitudin, in tempor felis consectetur. Vestibulum eget risus et neque laoreet hendrerit.
                     Quisque non dui dignissim, tincidunt urna in, rhoncus diam. Sed nec augue enim. Nam vitae elit quis ipsum 
                     faucibus viverra. Sed dolor libero, iaculis bibendum venenatis quis, fringilla at nisi. Pellentesque 
                     commodo commodo turpis quis vehicula. Duis maximus mollis leo, eget semper metus vulputate id. Vivamus aliquet
                    metus eu leo ornare cursus. Sed nec orci blandit orci ultrices tincidunt. Curabitur convallis semper felis.</p>
                <p class="text-justify mt-6 text-gray-600 font-medium">Proin auctor lorem ut dignissim posuere. 
                    Pellentesque in ultrices nulla. Nunc congue eleifend purus ut condimentum. Donec vulputate vestibulum feugiat. Aenean sem 
                    libero, interdum non tempus a, ullamcorper ac metus. Quisque egestas nisi odio, nec facilisis tortor ultricies ut. Ut dolor 
                    enim, sagittis eget sollicitudin a, volutpat vitae erat. Phasellus suscipit luctus urna, sit amet ullamcorper lectus 
                    congue nec. Donec dignissim elit non est ultrices euismod.</p>
                <p class="text-justify mt-6 text-gray-600 font-medium">Fusce eget odio et nibh ultrices pulvinar. Nulla eget dui augue. Pellentesque 
                    ut nisl nec tellus tempus bibendum non sit amet dolor. Suspendisse potenti. Quisque magna est, ornare eget sodales 
                    quis, sagittis in ex. Morbi at tempus dui. Class aptent taciti sociosqu ad litora torquent per conubia 
                    nostra, per inceptos himenaeos. Curabitur tristique purus ut ligula ultrices, nec consectetur sapien tristique. Ut nibh enim, 
                    cursus non volutpat eget, porta eget massa. Morbi rutrum elementum nisi ac accumsan. Mauris ut suscipit odio, et auctor purus.
                    Nulla facilisi.</p>
                <p class="text-justify mt-6 text-gray-600 font-medium">Morbi vehicula tortor id ullamcorper bibendum. Aenean quis faucibus 
                    arcu, quis pellentesque eros. Quisque aliquet sit amet ante sit amet venenatis. Nulla blandit egestas risus. Cras bibendum 
                    orci in ante egestas tristique. Nullam pellentesque eros velit, sit amet finibus tellus mollis sed. Suspendisse accumsan vehicula diam, 
                    in hendrerit massa luctus suscipit. Maecenas volutpat finibus dui vel consequat. Duis ut eleifend erat. In tincidunt 
                    tincidunt rutrum. Quisque urna massa, ultrices eleifend purus ac, cursus tincidunt risus. Aliquam libero urna, condimentum 
                    in volutpat sit amet, egestas at ex. Aliquam a ligula ut lorem interdum viverra a a purus. Etiam at turpis tincidunt, pretium nibh malesuada, 
                    posuere felis. Curabitur blandit metus augue, sed tincidunt velit faucibus ac. Praesent volutpat sem facilisis odio 
                    sollicitudin, pellentesque facilisis sapien lobortis.</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>