<div class="relative">
    <div class="bg-img min-h-screen bg-center bg-no-repeat bg-cover">
        <app-home-navbar></app-home-navbar>
        <div class="mt-24 2xl:mt-56 m-auto mx-8 sm:mx-24 text-center">
            <span class="text-2xl text-gray-800 font-bold">Save your</span>
            <span class="text-2xl text-indigo-600 font-bold"> crypto data </span>
            <span class="text-2xl text-gray-800 font-bold">online</span>
            <p class="lg:mx-64 text-gray-600 mt-4">Sed luctus nisl nec fermentum pretium. Vivamus facilisis turpis ut
                purus
                molestie, nec interdum ex pretium. Nunc maximus laoreet erat, id feugiat mauris dignissim eu. Quisque
                pretium felis nec lacus tempor,
                nec sagittis nibh interdum.</p>
        </div>
    </div>
    <div class="flex flex-col flex-1 items-center w-full">
        <div class="my-44">
            <div class="grid grid-cols-12 justify-items-center gap-8">
                <div class="col-span-12 sm:col-span-6 xl:col-span-3 w-52 h-52 transform hover:scale-110 transition duration-500
                    bg-gray-200 rounded-2xl shadow-lg hover:shadow-xl">
                    <div class="relative p-8">
                        <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 18H17V16H7V18Z" fill="#787673" />
                            <path d="M17 14H7V12H17V14Z" fill="#787673" />
                            <path d="M7 10H11V8H7V10Z" fill="#787673" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6 2C4.34315 2 3 3.34315 3 5V19C3 20.6569 4.34315 22 6 22H18C19.6569 22 21 20.6569 21 
                                19V9C21 5.13401 17.866 2 14 2H6ZM6 4H13V9H19V19C19 19.5523 18.5523 20 18 20H6C5.44772 20 5 
                                19.5523 5 19V5C5 4.44772 5.44772 4 6 4ZM15 4.10002C16.6113 4.4271 17.9413 5.52906 
                                18.584 7H15V4.10002Z" fill="#787673" />
                        </svg>
                        <p class="text-base text-indigo-600 font-bold mt-3">Save your data</p>
                        <p class="text-sm text-gray-600 mt-3">Mauris nibh magna, tincidunt at dolor vitae.</p>
                    </div>
                </div>
                <div class="col-span-12 sm:col-span-6 xl:col-span-3 w-52 h-52 transform hover:scale-110 transition duration-500
                     bg-gray-200 rounded-2xl shadow-lg hover:shadow-xl">
                    <div class="relative p-8">
                        <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.325 3.05011L8.66741 20.4323L10.5993 20.9499L15.2568 3.56775L13.325 3.05011Z"
                                fill="#787673" />
                            <path d="M7.61197 18.3608L8.97136 16.9124L8.97086 16.8933L3.87657 12.1121L8.66699 7.00798L7.20868 
                                5.63928L1.04956 12.2017L7.61197 18.3608Z" fill="#787673" />
                            <path d="M16.388 18.3608L15.0286 16.9124L15.0291 16.8933L20.1234 12.1121L15.333 7.00798L16.7913 
                                5.63928L22.9504 12.2017L16.388 18.3608Z" fill="#787673" />
                        </svg>
                        <p class="text-base text-indigo-600 font-bold mt-3">Private API</p>
                        <p class="text-sm text-gray-600 mt-3">Fusce eleifend felis purus.</p>
                    </div>
                </div>
                <div class="col-span-12 sm:col-span-6 xl:col-span-3 w-52 h-52 transform hover:scale-110 transition duration-500 
                    bg-gray-200 rounded-2xl shadow-lg hover:shadow-xl">
                    <div class="relative p-8">
                        <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.7572 6.3431L11.9998 2.10046L16.2425 6.3431L11.9998 10.5857L7.7572 6.3431ZM10.5856 
                                6.3431L11.9998 4.92889L13.4141 6.3431L11.9998 7.75732L10.5856 6.3431Z"
                                fill="#787673" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.10046 11.9999L6.3431 7.75726L10.5857 11.9999L6.3431 16.2425L2.10046 11.9999ZM4.92889 
                                11.9999L6.3431 10.5857L7.75732 11.9999L6.3431 13.4141L4.92889 11.9999Z"
                                fill="#787673" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.4142 11.9999L17.6568 16.2425L21.8995 11.9999L17.6568 7.75726L13.4142 11.9999ZM17.6568 
                                10.5857L16.2426 11.9999L17.6568 13.4141L19.071 11.9999L17.6568 10.5857Z"
                                fill="#787673" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.7572 17.6569L11.9998 13.4142L16.2425 17.6569L11.9998 21.8995L7.7572 17.6569ZM10.5856 
                                17.6569L11.9998 16.2427L13.4141 17.6569L11.9998 19.0711L10.5856 17.6569Z"
                                fill="#787673" />
                        </svg>
                        <p class="text-base text-indigo-600 font-bold mt-3">Privacy</p>
                        <p class="text-sm text-gray-600 mt-3">Proin velit est, sagittis id erat venenatis.</p>
                    </div>
                </div>
                <div class="col-span-12 sm:col-span-6 xl:col-span-3 w-52 h-52 transform hover:scale-110 transition 
                    duration-500 bg-gray-200 rounded-2xl shadow-lg hover:shadow-xl">
                    <div class="relative p-8">
                        <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 8C6.74028 8 7.38663 7.5978 7.73244 7H14C15.1046 7 16 7.89543 16 9C16 10.1046 
                                15.1046 11 14 11H10C7.79086 11 6 12.7909 6 15C6 17.2091 7.79086 19 10 19H16.2676C16.6134 
                                19.5978 17.2597 20 18 20C19.1046 20 20 19.1046 20 18C20 16.8954 19.1046 16 18 16C17.2597 
                                16 16.6134 16.4022 16.2676 17H10C8.89543 17 8 16.1046 8 15C8 13.8954 8.89543 13 10 
                                13H14C16.2091 13 18 11.2091 18 9C18 6.79086 16.2091 5 14 5H7.73244C7.38663 4.4022 
                                6.74028 4 6 4C4.89543 4 4 4.89543 4 6C4 7.10457 4.89543 8 6 8Z" fill="#787673" />
                        </svg>
                        <p class="text-base text-indigo-600 font-bold mt-3">Multiple devices</p>
                        <p class="text-sm text-gray-600 mt-3">Donec sit amet quam libero. Nulla non gravida orci.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="relative mb-64 p-16 bg-gray-200">
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-8">
            <div class="p-8 m-auto xl:m-0 xl:ml-auto rounded shadow-2xl">
                <div class="">
                    <img class="h-64 cut object-cover transform hover:rotate-3 transition duration-500"
                        src="../../../../assets/img/farm.jpg" />
                </div>
            </div>
            <div class="p-8 m-auto">
                <p class="text-sm text-gray-600 font-medium">Etiam tincidunt sapien non pellentesque ultrices. Aliquam
                    erat volutpat. Praesent elit tortor,
                    venenatis ut cursus quis, mattis vitae urna. Pellentesque elementum ornare nulla
                    non dapibus. Maecenas sed malesuada magna. Maecenas vitae elementum augue. Maecenas ullamcorper
                    lobortis purus, ac sagittis ante interdum quis. Proin aliquam risus vitae massa viverra tempus.
                    Etiam nec dictum nunc. Donec semper aliquet iaculis. Proin iaculis ante iaculis ipsum tristique,
                    eget ornare elit iaculis.</p>
                <div class="xl:mt-10 flex">
                    <p class="text-sm text-indigo-600 font-bold">Donec lobortis&nbsp;</p>
                    <p class="text-sm text-gray-600 font-semibold">- Ut a mi gravida, placerat turpis venenatis, commodo
                        quam.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="relative mt-32 mb-64 mx-4 lg:mx-64 origin-center">
        <div class="grid grid-cols-1 xl:grid-cols-3 shadow-3xl">
            <div class="bg-regal h-94 lg:h-full p-8 text-left xl:rounded-l-lg">
                <h1 class="text-white text-4xl mt-4 2xl:mt-24 font-semibold">Praesent quis magna quis.</h1>
                <h4 class="text-white text-lg mt-3 font-medium">Curabitur tincidunt libero sed</h4>
                <p class="text-white text-sm mt-2 2xl:mt-12">Nulla quis bibendum lorem. Nam dapibus vehicula ipsum, sed
                    gravida
                    nisl bibendum sit amet. Etiam neque lorem, pulvinar non vehicula ac, porta at felis.</p>
            </div>
            <div class="h-94 lg:h-full sm:overflow-hidden align-middle">
                <img class="object-cover min-h-full" src="../../../../assets/img/archi.jpg" />
            </div>
            <div class="bg-regal-dark h-94 lg:h-full p-8 text-right xl:rounded-r-lg">
                <h1 class="text-white text-4xl mt-4 2xl:mt-24 font-semibold">Nunc vehicula ligula enim.</h1>
                <h4 class="text-white text-lg mt-3 font-medium">Pellentesque sapien felis</h4>
                <p class="text-white text-sm mt-2 2xl:mt-12">Aenean ultricies dapibus neque, sit amet dapibus
                    velit blandit congue. In felis libero, vehicula porttitor porta et, euismod ac quam.
                    In dapibus, nulla eget consectetur dictum, magna est cursus magna, vel aliquet orci libero at ante.
                </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>