<app-home-navbar></app-home-navbar>
<div class="relative min-h-screen mb-12">
    <div class="mt-36">
        <div class="flex flex-col flex-1 items-center w-full">
            <div class="mx-6 lg:mx-64 2xl:mx-152">
                <h1 class="text-2xl	font-bold text-gray-700 underline">Terms of use</h1>
                <p class="text-justify mt-12 text-gray-600 font-medium">Vestibulum vitae lacus eros. Class aptent taciti
                    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed luctus tristique dui, at
                    placerat elit finibus et. Fusce gravida convallis turpis, sed ultricies dolor porta non. Nunc
                    lacinia, ex sit amet dictum sagittis, nibh nulla molestie elit, eu gravida risus mi a lacus. Nam
                    finibus pulvinar justo, in vehicula purus egestas venenatis. Aenean vel tristique sem. Fusce urna
                    lorem, rutrum sit amet magna eu, ultricies egestas ligula.</p>
                <p class="text-justify mt-6 text-gray-600 font-medium">Maecenas efficitur nibh nisl, mattis auctor purus
                    sodales id. Nam molestie nisi ligula, eu tincidunt ante interdum vitae. Aliquam malesuada, quam a
                    tincidunt lacinia, dui lorem fringilla enim, quis hendrerit neque ex accumsan massa. Sed tristique
                    congue lectus hendrerit euismod. Cras ipsum velit, suscipit a purus at, tincidunt aliquet mauris.
                    Nullam tempor sollicitudin urna, non porta libero volutpat a. Aliquam congue mollis metus id
                    feugiat. Phasellus a laoreet nisl. Aenean aliquam rutrum purus quis hendrerit. Ut ex lorem,
                    efficitur vel malesuada vel, accumsan id enim. Nunc non nulla finibus, condimentum lorem ac,
                    pulvinar mauris. Donec auctor, lacus a vehicula cursus, lacus mi eleifend magna, sit amet lacinia
                    felis orci vulputate turpis.</p>
                <p class="text-justify mt-6 text-gray-600 font-medium">Morbi ante diam, accumsan at purus non, vulputate
                    ultrices nisi. Duis in nisi elementum, egestas tellus sed, porttitor nulla. Integer dolor tellus,
                    convallis non vestibulum eget, posuere id metus. Vivamus ut lectus sit amet felis elementum
                    suscipit. Phasellus suscipit nibh orci, et commodo ante lacinia vel. Mauris pretium id quam in
                    bibendum. Suspendisse vitae congue magna, blandit tempor lacus. Sed vitae porttitor lorem. Donec nec
                    magna sed mi elementum hendrerit. Quisque tristique enim in velit semper sodales.
                </p>
                <p class="text-justify mt-6 text-gray-600 font-medium">Sed leo eros, molestie imperdiet nisi a, rutrum
                    dapibus turpis. Suspendisse convallis odio urna, nec efficitur lectus varius tristique. Donec
                    imperdiet venenatis dolor. Pellentesque a erat porta, pellentesque dolor ac, laoreet ex. Integer
                    lobortis porttitor velit, eu euismod eros cursus eu. In venenatis finibus quam quis fermentum.
                    Aenean eget mi vel metus consectetur luctus nec ac nibh. Pellentesque porta, erat sed bibendum
                    aliquam, augue lectus placerat nibh, vitae congue enim felis eget ligula. Nulla porttitor convallis
                    lacinia. Phasellus semper ut dolor egestas euismod. Praesent blandit varius tortor, pretium suscipit
                    felis finibus sit amet. Aenean maximus efficitur tellus, sed ornare mi tincidunt a. Fusce sodales,
                    metus ac vulputate tincidunt, nisi diam elementum tortor, vitae malesuada orci risus sit amet dolor.
                </p>
                <p class="text-justify mt-6 text-gray-600 font-medium">Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Donec sem ligula, congue quis luctus id, bibendum vel
                    mauris. Ut ornare dapibus ligula, non tempus mauris ultricies ac. Phasellus iaculis porttitor
                    fringilla. Cras enim nulla, condimentum non diam et, euismod tincidunt elit. In mattis ut dolor
                    porta vestibulum. Nullam ultrices dignissim lacus, et bibendum eros. Nullam pellentesque urna at ex
                    convallis cursus. Nulla commodo, mi non fringilla malesuada, justo arcu dictum ipsum, ac feugiat
                    augue dolor eget ligula. Ut ut blandit sapien, et rutrum lectus. Vestibulum ante ipsum primis in
                    faucibus orci luctus et ultrices posuere cubilia curae; Phasellus posuere rhoncus tincidunt.
                    Vestibulum venenatis eleifend velit, a consectetur magna venenatis nec. Sed sed leo in quam euismod
                    rhoncus nec in erat. Nullam erat nibh, dictum nec accumsan nec, tempus porta lorem. Nullam arcu
                    justo, pellentesque eget ante at, malesuada feugiat sapien.</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>